BasedOnStyle: Google
ColumnLimit: 100
IndentWidth: 2
ContinuationIndentWidth: 4
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: CaseInsensitive
IncludeBlocks: Preserve
